AI-TP final_Leandro Riquero.json
{
  "name": "AI-Powered Vehicle Listing Publication with Human Approval",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un experto en marketing automotriz. Genera textos comerciales atractivos para el siguiente vehículo:\n\nMarca: {{ $json.property_marca }}\nModelo: {{ $json.property_modelo }}\nAño: {{ $json['property_año'] }}\nPrecio: {{ $json.property_precio }}\nKilometraje: {{ $json.property_km }} km\nTransmisión: {{ $json['property_trasmisión'] }}\nCombustible: {{ $json.property_combustible }}\n\nGenera el siguiente contenido en formato JSON:\n{\n  \"mercadoLibre\": \"Texto optimizado para Mercado Libre (máximo 200 palabras)\",\n  \"facebook\": \"Texto para Facebook Marketplace (máximo 150 palabras)\",\n  \"instagram\": \"Caption para Instagram con hashtags (máximo 100 palabras)\",\n  \"whatsapp\": \"Mensaje corto para WhatsApp (máximo 80 palabras)\",\n  \"ventajas\": [\"Ventaja 1\", \"Ventaja 2\", \"Ventaja 3\", \"Ventaja 4\", \"Ventaja 5\"]\n}\nAntes de generar la publicación, verificá que toda la información sea suficiente y consistente. Si detectás datos faltantes o inconsistentes, no generes la publicación y devolvé un objeto JSON indicando el estado \"ERROR\" y el motivo. Solo si toda la información es válida devolvé el estado \"OK\" junto con las publicaciones.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente especializado en la generación de publicaciones para la venta de vehículos usados.\n\nAntes de generar cualquier publicación debes validar la información recibida.\n\nConsidera un ERROR cuando ocurra cualquiera de las siguientes situaciones:\n\n* Falta la marca del vehículo.\n* Falta el modelo.\n* Falta el año.\n* Falta el precio.\n* Falta el kilometraje.\n* El precio es menor o igual a cero.\n* El kilometraje es negativo.\n* El año es mayor al actual o menor a 1990.\n* La descripción del equipamiento es insuficiente (menos de 10 caracteres).\n\nSi detectas cualquiera de estos problemas:\n\n* NO generes publicaciones.\n* Devuelve el estado \"ERROR\".\n* Explica claramente el motivo en el campo \"motivo\".\n\nSi toda la información es válida:\n\n* Devuelve el estado \"OK\".\n* Genera:\n\n  * Publicación para Mercado Libre.\n  * Publicación para Facebook Marketplace.\n  * Texto para Instagram.\n  * Resumen para WhatsApp.\n  * Cinco ventajas del vehículo.\n\nLa respuesta debe cumplir estrictamente el esquema JSON definido por el Structured Output Parser.\n"
        }
      },
      "id": "e0807434-5a7f-4802-a034-e949eff53c78",
      "name": "Generar Textos con IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update a database page').item.json.property_email }}",
        "subject": "=Tu publicación del vehículo ya está lista para su revisión",
        "message": "=Hola {{ $('Update a database page').item.json.name }},\n\n<p>Ya preparamos la publicación de tu vehículo utilizando Inteligencia Artificial.</p>\n\n<h3>🚗 Vehículo</h3>\n\n<ul>\n<li><b>Modelo: {{ $('Update a database page').item.json.property_modelo }}\n<li><b>Año: {{ $('Update a database page').item.json[\"property_año\"] }}\n<li><b>Kilómetros: {{ $('Update a database page').item.json.property_km }}\n<li><b>Precio: {{ $('Update a database page').item.json.property_precio }}\n\n<h3>📢 Publicación sugerida</h3>\n\n{{ $('Update a database page').item.json[\"property_descripción_ia\"] }}\n\n<p>Si estás de acuerdo con el contenido generado, responderemos este correo para coordinar la publicación de tu vehículo.</p>\n\n<p>Muchas gracias por confiar en nosotros.</p>\n\n<hr>\n\n<p><i>Este contenido fue generado automáticamente mediante Inteligencia Artificial y revisado por un asesor comercial.</i></p>",
        "options": {}
      },
      "id": "8a6dad23-08bc-457d-bfd7-f8fb187f0a29",
      "name": "Enviar Email al Cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2000,
        64
      ],
      "webhookId": "aa142378-ce68-4c92-930e-f076ee23a0c9",
      "credentials": {
        "gmailOAuth2": {
          "id": "A6LpxxzL9SsjfQL3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Update a database page').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|status",
              "type": "status",
              "statusValue": "Aprobado por Humano"
            }
          ]
        },
        "options": {}
      },
      "id": "2b6464c4-cab3-41f7-a917-086a0169dad7",
      "name": "Marcar como Enviado",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2160,
        128
      ],
      "credentials": {
        "notionApi": {
          "id": "7XDOdvjpxT9UBkba",
          "name": "Notion account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "genricoplus@gmail.com",
        "subject": "⚠ Error en Workflow - Publicación de Vehículo",
        "message": "=<h2>Error en el Workflow</h2>\n\n<p>Ocurrió un error durante el procesamiento automático: {{ $json.output.motivo }}</p>\n\n<b>Cliente:</b><br>\n{{$node[\"Create a database page\"].json.name}}\n\n<br><br>\n\n<b>Vehículo:</b><br>\n\n{{$node[\"Create a database page\"].json.property_marca}}\n{{$node[\"Create a database page\"].json.property_modelo}}\n\n<br><br>\n\n<b>Fecha:</b>\n\n{{$now}}\n\n<br><br>\n\n<b>Detalle:</b>\n\nLa IA no pudo generar correctamente la publicación.\n\n<br><br>\n\nIngresar al registro de Notion para revisar manualmente.",
        "options": {}
      },
      "id": "59f6190d-3729-4adf-86f4-c1b251f67f3d",
      "name": "Notificar Error",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        464
      ],
      "webhookId": "8aec6b2c-68c2-4ac4-b352-8a2203683de5",
      "credentials": {
        "gmailOAuth2": {
          "id": "A6LpxxzL9SsjfQL3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Create a database page').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|status",
              "type": "status",
              "statusValue": "Error"
            }
          ]
        },
        "options": {}
      },
      "id": "c8e2fcba-c77c-4d29-9383-0eab5e3e0d9c",
      "name": "Marcar con Error",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2096,
        464
      ],
      "credentials": {
        "notionApi": {
          "id": "7XDOdvjpxT9UBkba",
          "name": "Notion account 4"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3ab1b42a-4984-4624-93f4-486865fc7b71",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        416
      ],
      "id": "b151f73e-250f-4374-afb5-40e4f4759e8e",
      "name": "Webhook",
      "webhookId": "3ab1b42a-4984-4624-93f4-486865fc7b71"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $fromAI('Database', ``, 'string') }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        1152,
        688
      ],
      "id": "7bc0db48-c96e-463a-8c69-ea604177cd04",
      "name": "Get many database pages in Notion",
      "credentials": {
        "notionApi": {
          "id": "h4ORR34eWewZtPjb",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "39517908-3b31-8045-88e8-f2c852cad298",
          "mode": "list",
          "cachedResultName": "Base de datos AUTOS",
          "cachedResultUrl": "https://app.notion.com/p/395179083b31804588e8f2c852cad298"
        },
        "title": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Cliente|title",
              "title": "={{ $json.body.Cliente }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.body.Email }}"
            },
            {
              "key": "Marca|rich_text",
              "textContent": "={{ $json.body.Marca }}"
            },
            {
              "key": "Modelo|rich_text",
              "textContent": "={{ $json.body.Modelo }}"
            },
            {
              "key": "Año|number",
              "numberValue": "={{ $json.body['Año'] }}"
            },
            {
              "key": "KM|number",
              "numberValue": "={{ $json.body.Km }}"
            },
            {
              "key": "Equipamiento|rich_text",
              "textContent": "={{ $json.body.Equipamiento }}"
            },
            {
              "key": "Trasmisión|select",
              "selectValue": "={{ $json.body['Transmisión'] }}"
            },
            {
              "key": "Precio|number",
              "numberValue": "={{ $json.body.Precio }}"
            },
            {
              "key": "Combustible|select",
              "selectValue": "={{ $json.body.Combustible }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        576,
        368
      ],
      "id": "129a4ce4-fd7e-4289-82f9-958bcb03a88b",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "7XDOdvjpxT9UBkba",
          "name": "Notion account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={ $json[\"Cliente email\"] }"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        976,
        560
      ],
      "id": "de18f905-7ed6-4657-955e-062e9b842693",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        560
      ],
      "id": "f92c402c-a606-4cb7-96a9-b8afa9144941",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "XO6taYSEJc76Y7nm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Create a database page').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Descripción IA|rich_text",
              "textContent": "={{ $json.output.mercadoLibre }}"
            },
            {
              "key": "Resumen wapp|rich_text",
              "textContent": "={{ $json.output.whatsapp }}"
            },
            {
              "key": "Estado|status",
              "statusValue": "Procesado por IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1472,
        16
      ],
      "id": "bc658848-2d4a-4bb1-9c32-48f63f4de18b",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "7XDOdvjpxT9UBkba",
          "name": "Notion account 4"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"estado\": {\n      \"type\": \"string\",\n      \"enum\": [\"OK\", \"ERROR\"]\n    },\n    \"motivo\": {\n      \"type\": \"string\"\n    },\n    \"mercadoLibre\": {\n      \"type\": \"string\"\n    },\n    \"facebook\": {\n      \"type\": \"string\"\n    },\n    \"instagram\": {\n      \"type\": \"string\"\n    },\n    \"whatsapp\": {\n      \"type\": \"string\"\n    },\n    \"ventajas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"estado\",\n    \"motivo\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        672
      ],
      "id": "23e79c66-b7b6-4636-9c0d-c5f22fdd1fe4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "genricoplus@gmail.com",
        "subject": "Validación de Vehiculo",
        "message": "=Se generó automáticamente la publicación del siguiente vehículo.\n\nCliente: {{$json.name}}\n\nVehículo:\n{{$json.property_modelo}}\n\nPara aprobar el envío al cliente hacé clic aquí:\n\n{{$execution.resumeUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        16
      ],
      "id": "aa2ee33c-986f-4824-8c02-fc702f82eb51",
      "name": "Send message and wait for response1",
      "webhookId": "17d9d6d6-2d5b-4899-8c26-eae122f99b93",
      "credentials": {
        "gmailOAuth2": {
          "id": "A6LpxxzL9SsjfQL3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "655786ab-2063-45e3-8057-8533baeb4b9d",
              "leftValue": "={{ $json.output.estado }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        80
      ],
      "id": "1b1133a2-e0c8-4159-8e79-ae7eeeb9b5f8",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Generar Textos con IA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email al Cliente": {
      "main": [
        [
          {
            "node": "Marcar como Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Error": {
      "main": [
        [
          {
            "node": "Marcar con Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages in Notion": {
      "ai_tool": [
        [
          {
            "node": "Generar Textos con IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Generar Textos con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Generar Textos con IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Textos con IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generar Textos con IA",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "Enviar Email al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8afcfce3-7b81-408d-8122-509cbc545c2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f745a2a3a9e3a87412c633d8661c783c83cc1e2d700ca09d7a1f451aa33693a"
  },
  "nodeGroups": [],
  "id": "XKRBTtYQyMt8ScIL",
  "tags": []
}